.Cart-item {
  display: flex;
  padding: 5px;
}

.Cart-Product-image {
  width: 200px;
  object-fit: cover;
}

.Cart-Product-name-and-price {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Cart-product-name {
  margin-top: 10px;
  font-size: 25px;
}

.Cart-Product-price {
  margin-top: 10px;
  font-size: 20px;
}

.Cart-Product-add-remove {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.Add-product {
  margin: 5px;
  cursor: pointer;
}

.Product-qty {
  margin: 5px;
  font-size: 20px;
}

.Remove-product {
  margin: 5px;
  cursor: pointer;
}

.cart-btn-remove {
  margin: 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  background-color: teal;
  color: white;
  font-size: 20px;
}
