.Footer {
  display: flex;
  background-color: #96e6a1;
}

.About-Section {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Company-About {
  margin: 20px 0px;
}

.Social-container {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
}

.Developer-Info {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.Social-Icon-github {
  border: 0.2px solid gray;
  border-radius: 50%;
  color: #000000;
  background-color: white;
  margin: 5px;
}

.Social-Icon-linkedin {
  border: 0.2px solid gray;
  border-radius: 50%;
  color: #1e90ff;
  background-color: white;
  margin: 5px;
}

.Social-Icon-twitter {
  border: 0.2px solid gray;
  border-radius: 50%;
  color: #00bfff;
  background-color: white;
  margin: 5px;
}

.Contact-Section {
  flex: 1;
  padding: 20px;
}

.Contact-Header {
  text-align: end;
  font-size: 20px;
  margin-bottom: 30px;
}

.Map-Icon {
  margin-right: 10px;
}

.Contact-Address {
}

.Phone-Icon {
  margin-right: 10px;
}

.Contact-Phone {
}

.Email-Icon {
  margin-right: 10px;
}

.Contact-Email {
}

.Payment-Image {
  width: 100%;
}
